<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/app.css}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav>
        [<a th:href="@{/mvc/}">Home</a>]
    </nav>
    <div id="main">
        <p th:text="|Welcome to ${appName}!|"></p>
        <p>
            <!-- 
            If you like Jakarta MVC style, use
            <a th:href="|${mvc.basePath}/messages|">Enter</a>
            -->
            <a th:href="@{/mvc/messages}">Enter</a>
        </p>
    </div>
</body>
</html>