<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/app.css}" rel="stylesheet">
    <title>Message Board: Login</title>
</head>
<body>
    <nav>
        [<a th:href="@{/mvc/}">Home</a>]
    </nav>
    <div id="main">
        <form th:action="@{/mvc/j_security_check}" method="POST" class="form-vertical">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="j_username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="j_password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p th:if="${error}" style="color: red">
            <th:block th:switch="${error}">
                <span th:case="'invalid_user'">Invalid username or password.</span>
                <span th:case="'forbidden'">You do not have permission to perform this operation.</span>
            </th:block>
        </p>
    </div>
</body>
</html>