<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/app.css}" rel="stylesheet">
	<title>Message Board: Main</title>
</head>
<body>
	<nav>
		[<a th:href="@{/app}">Home</a>]
		[<a th:href="@{/app/users}">User Management</a>]
		[<a th:href="@{/app/logout}">Logout</a>]
	</nav>
	<div id="main">
		<p th:text="${'Hello, ' + userName + (isAdmin ? '<ADMIN>' : '') + '!'}"></p>
		<form th:action="@{/app/messages}" method="POST" class="form-vertical">
			<div class="form-group">
				<label for="message">Message:</label>
				<input type="text" id="message" name="message">
				<input type="hidden" th:name="${mvc.csrf.name}" th:value="${mvc.csrf.token}"/>
			</div>
			<button type="submit">Send</button>
		</form>
		<form th:action="@{/app/clear}" method="POST" class="form-vertical">
			<input type="hidden" th:name="${mvc.csrf.name}" th:value="${mvc.csrf.token}"/>
			<button type="submit">Clear</button>
		</form>
		<div id="error-list" th:if="${errors.size() > 0}">
			<p th:each="err : ${errors}" th:text="${err}"></p>
		</div>
		<hr>
		<h1>Message List</h1>
		<div id="message-list">
			<p th:each="mes : ${messages}" th:text="|${mes.name}: ${mes.message}|"></p>
		</div>
	</div>
</body>
</html>